In [4]:
# https://www.relataly.com/crypto-market-cluster-analysis-using-affinity-propagation-python/8114/
# Affinity Propagation انتشار وابستگی

In [5]:
# reload modules
%load_ext autoreload
%autoreload 2

In [6]:
import data_load
import clustering_model

# Data Load

In [7]:
basic_data = data_load.load_basic_data()
print(basic_data.shape)
basic_data.head()

Fetching basic data...
Basic data file saved.
(305, 18)

,id,name,symbol,slug,tags,cmcRank,marketPairCount,circulatingSupply,selfReportedCirculatingSupply,totalSupply,maxSupply,isActive,lastUpdated,dateAdded,quotes,isAudited,auditInfoList,platform
0,1,Bitcoin,BTC,bitcoin,"[mineable, pow, sha-256, store-of-value, state...",1,10439,1.947489e+07,0.0,1.947489e+07,2.100000e+07,1,2023-09-03T04:15:00.000Z,2010-07-13T00:00:00.000Z,"[{'name': 'USD', 'price': 25870.936042800167, ...",False,NaN,NaN
1,1027,Ethereum,ETH,ethereum,"[pos, smart-contracts, ethereum-ecosystem, coi...",2,7322,1.202167e+08,0.0,1.202167e+08,NaN,1,2023-09-03T04:15:00.000Z,2015-08-07T00:00:00.000Z,"[{'name': 'USD', 'price': 1636.3594974010828, ...",False,[],NaN
2,1839,BNB,BNB,bnb,"[marketplace, centralized-exchange, payments, ...",4,1604,1.538501e+08,0.0,1.538501e+08,NaN,1,2023-09-03T04:15:00.000Z,2017-07-25T00:00:00.000Z,"[{'name': 'USD', 'price': 214.12610110807856, ...",True,"[{'coinId': '1839', 'auditor': 'CertiK', 'audi...",NaN
3,52,XRP,XRP,xrp,"[medium-of-exchange, enterprise-solutions, arr...",5,1060,5.297770e+10,0.0,9.998846e+10,1.000000e+11,1,2023-09-03T04:15:00.000Z,2013-08-04T00:00:00.000Z,"[{'name': 'USD', 'price': 0.5016202316946777, ...",True,"[{'coinId': '52', 'auditor': 'CertiK', 'auditS...",NaN
4,2010,Cardano,ADA,cardano,"[dpos, pos, platform, research, smart-contract...",7,921,3.507797e+10,0.0,3.613741e+10,4.500000e+10,1,2023-09-03T04:15:00.000Z,2017-10-01T00:00:00.000Z,"[{'name': 'USD', 'price': 0.2554894027535518, ...",False,NaN,NaN

In [8]:
historical_data = data_load.load_historical_data(basic_data)
print(historical_data.shape)
historical_data.head()

Fetching historical data for BTC (1/305)
Fetching historical data for ETH (2/305)
Fetching historical data for BNB (3/305)
Fetching historical data for XRP (4/305)
Fetching historical data for ADA (5/305)
Fetching historical data for DOGE (6/305)
Fetching historical data for SOL (7/305)
Fetching historical data for TRX (8/305)
Fetching historical data for DOT (9/305)
Fetching historical data for MATIC (10/305)
Fetching historical data for LTC (11/305)
Fetching historical data for SHIB (12/305)
Fetching historical data for WBTC (13/305)
Fetching historical data for BCH (14/305)
Fetching historical data for LEO (15/305)
Fetching historical data for AVAX (16/305)
Fetching historical data for LINK (17/305)
Fetching historical data for XLM (18/305)
Fetching historical data for XMR (19/305)
Fetching historical data for UNI (20/305)
Fetching historical data for OKB (21/305)
Fetching historical data for ATOM (22/305)
Fetching historical data for ETC (23/305)
Fetching historical data for HBAR (24/305)
Fetching historical data for FIL (25/305)
Fetching historical data for LDO (26/305)
Fetching historical data for CRO (27/305)
Error fetching coin id data for coin code {} CRO
Error message: 'CRO' coin code is unavailable on coinmarketcap.com
Error fetching price data for {} for interval '{}' and '{}' CRO 28-4-2013 02-09-2023
Error message (download_data) : "slug" must only contain lowercase characters
Error in fetching historical data for CRO
Fetching historical data for QNT (28/305)
Fetching historical data for VET (29/305)
Fetching historical data for MKR (30/305)
Fetching historical data for NEAR (31/305)
Fetching historical data for XDC (32/305)
Fetching historical data for AAVE (33/305)
Fetching historical data for GRT (34/305)
Fetching historical data for ALGO (35/305)
Fetching historical data for XTZ (36/305)
Fetching historical data for STX (37/305)
Fetching historical data for EGLD (38/305)
Fetching historical data for EOS (39/305)
Fetching historical data for AXS (40/305)
Fetching historical data for SAND (41/305)
Fetching historical data for THETA (42/305)
Fetching historical data for BSV (43/305)
Fetching historical data for INJ (44/305)
Fetching historical data for FTM (45/305)
Fetching historical data for MANA (46/305)
Fetching historical data for SNX (47/305)
Fetching historical data for RUNE (48/305)
Fetching historical data for RNDR (49/305)
Fetching historical data for NEO (50/305)
Fetching historical data for KAVA (51/305)
Fetching historical data for XAUt (52/305)
Fetching historical data for PAXG (53/305)
Fetching historical data for MIOTA (54/305)
Fetching historical data for CHZ (55/305)
Fetching historical data for RPL (56/305)
Fetching historical data for GALA (57/305)
Fetching historical data for KLAY (58/305)
Fetching historical data for FXS (59/305)
Fetching historical data for CSPR (60/305)
Fetching historical data for ZEC (61/305)
Fetching historical data for CFX (62/305)
Fetching historical data for BTT (63/305)
Fetching historical data for HT (64/305)
Fetching historical data for CRV (65/305)
Fetching historical data for KCS (66/305)
Fetching historical data for GT (67/305)
Fetching historical data for LUNC (68/305)
Fetching historical data for TWT (69/305)
Fetching historical data for NEXO (70/305)
Fetching historical data for COMP (71/305)
Fetching historical data for FLR (72/305)
Fetching historical data for WOO (73/305)
Fetching historical data for DASH (74/305)
Fetching historical data for SFP (75/305)
Fetching historical data for CAKE (76/305)
Fetching historical data for AR (77/305)
Fetching historical data for GNO (78/305)
Fetching historical data for MX (79/305)
Fetching historical data for ROSE (80/305)
Fetching historical data for ZIL (81/305)
Fetching historical data for BAT (82/305)
Fetching historical data for 1INCH (83/305)
Fetching historical data for LRC (84/305)
Fetching historical data for ENJ (85/305)
Fetching historical data for AGIX (86/305)
Fetching historical data for HNT (87/305)
Fetching historical data for BTG (88/305)
Fetching historical data for QTUM (89/305)
Fetching historical data for XEM (90/305)
Fetching historical data for CELO (91/305)
Fetching historical data for FET (92/305)
Fetching historical data for AKT (93/305)
Fetching historical data for DCR (94/305)
Fetching historical data for TFUEL (95/305)
Fetching historical data for ELF (96/305)
Fetching historical data for OCEAN (97/305)
Fetching historical data for RVN (98/305)
Fetching historical data for LPT (99/305)
Fetching historical data for ANKR (100/305)
Fetching historical data for JST (101/305)
Fetching historical data for YFI (102/305)
Fetching historical data for HOT (103/305)
Fetching historical data for BAL (104/305)
Fetching historical data for ANT (105/305)
Fetching historical data for GLM (106/305)
Fetching historical data for WAVES (107/305)
Fetching historical data for AUDIO (108/305)
Fetching historical data for KSM (109/305)
Fetching historical data for SC (110/305)
Fetching historical data for ICX (111/305)
Fetching historical data for SXP (112/305)
Fetching historical data for ZRX (113/305)
Fetching historical data for HIVE (114/305)
Fetching historical data for BAND (115/305)
Fetching historical data for ONT (116/305)
Fetching historical data for SUSHI (117/305)
Fetching historical data for WAXP (118/305)
Fetching historical data for IOST (119/305)
Fetching historical data for IOTX (120/305)
Fetching historical data for ONE (121/305)
Fetching historical data for TOMO (122/305)
Fetching historical data for NMR (123/305)
Fetching historical data for CKB (124/305)
Fetching historical data for BORA (125/305)
Fetching historical data for DGB (126/305)
Fetching historical data for KDA (127/305)
Fetching historical data for MOB (128/305)
Fetching historical data for UMA (129/305)
Fetching historical data for ZEN (130/305)
Fetching historical data for API3 (131/305)
Fetching historical data for FLUX (132/305)
Fetching historical data for SKL (133/305)
Fetching historical data for EVER (134/305)
Fetching historical data for CTSI (135/305)
Fetching historical data for LSK (136/305)
Fetching historical data for STORJ (137/305)
Fetching historical data for CELR (138/305)
Fetching historical data for ACH (139/305)
Fetching historical data for RSR (140/305)
Fetching historical data for STPT (141/305)
Fetching historical data for stETH (142/305)
Fetching historical data for WTRX (143/305)
Fetching historical data for WHBAR (144/305)
Fetching historical data for WKAVA (145/305)
Fetching historical data for BTCB (146/305)
Fetching historical data for HEX (147/305)
Fetching historical data for TNC (148/305)
Fetching historical data for WBNB (149/305)
Fetching historical data for FTT (150/305)
Fetching historical data for BTTOLD (151/305)
Fetching historical data for HBTC (152/305)
Fetching historical data for DFI (153/305)
Fetching historical data for BDX (154/305)
Fetching historical data for WEMIX (155/305)
Fetching historical data for FNSA (156/305)
Fetching historical data for CHSB (157/305)
Fetching historical data for LYXe (158/305)
Fetching historical data for FLEX (159/305)
Fetching historical data for POLY (160/305)
Fetching historical data for TRAC (161/305)
Fetching historical data for RBTC (162/305)
Fetching historical data for XNO (163/305)
Fetching historical data for SNT (164/305)
Fetching historical data for MLK (165/305)
Fetching historical data for PLA (166/305)
Fetching historical data for RLC (167/305)
Fetching historical data for AMP (168/305)
Fetching historical data for DEXE (169/305)
Fetching historical data for PROM (170/305)
Fetching historical data for KEEP (171/305)
Fetching historical data for CFG (172/305)
Fetching historical data for SURE (173/305)
Fetching historical data for ONG (174/305)
Fetching historical data for LQTY (175/305)
Fetching historical data for MTL (176/305)
Fetching historical data for DKA (177/305)
Fetching historical data for RIF (178/305)
Fetching historical data for POWR (179/305)
Fetching historical data for WNXM (180/305)
Fetching historical data for TEL (181/305)
Fetching historical data for MVL (182/305)
Fetching historical data for STEEM (183/305)
Fetching historical data for CVC (184/305)
Fetching historical data for AKRO (185/305)
Fetching historical data for RAD (186/305)
Fetching historical data for ABBC (187/305)
Fetching historical data for IQ (188/305)
Fetching historical data for EWT (189/305)
Fetching historical data for SYS (190/305)
Fetching historical data for ORBS (191/305)
Fetching historical data for OMG (192/305)
Fetching historical data for REQ (193/305)
Fetching historical data for NKN (194/305)
Fetching historical data for POND (195/305)
Fetching historical data for BNT (196/305)
Fetching historical data for MED (197/305)
Fetching historical data for ALPHA (198/305)
Fetching historical data for DENT (199/305)
Fetching historical data for STRAX (200/305)
Fetching historical data for ARDR (201/305)
Fetching historical data for VTHO (202/305)
Fetching historical data for CHR (203/305)
Fetching historical data for MFT (204/305)
Fetching historical data for ERG (205/305)
Fetching historical data for BFC (206/305)
Fetching historical data for WIN (207/305)
Fetching historical data for HPO (208/305)
Fetching historical data for ARK (209/305)
Fetching historical data for SLP (210/305)
Fetching historical data for LINA (211/305)
Fetching historical data for OXT (212/305)
Fetching historical data for XVG (213/305)
Fetching historical data for XVS (214/305)
Fetching historical data for SCRT (215/305)
Fetching historical data for FX (216/305)
Fetching historical data for UIP (217/305)
Fetching historical data for ankrETH (218/305)
Fetching historical data for CQT (219/305)
Fetching historical data for PHA (220/305)
Fetching historical data for ARPA (221/305)
Fetching historical data for STMX (222/305)
Fetching historical data for DEXT (223/305)
Fetching historical data for MNW (224/305)
Fetching historical data for UOS (225/305)
Fetching historical data for HIFI (226/305)
Fetching historical data for BTM (227/305)
Fetching historical data for CORE (228/305)
Fetching historical data for LOOM (229/305)
Fetching historical data for QKC (230/305)
Fetching historical data for FUN (231/305)
Fetching historical data for LOCUS (232/305)
Fetching historical data for BLZ (233/305)
Fetching historical data for AOG (234/305)
Fetching historical data for COTI (235/305)
Fetching historical data for GRS (236/305)
Fetching historical data for REN (237/305)
Fetching historical data for CTK (238/305)
Fetching historical data for CTC (239/305)
Fetching historical data for MBL (240/305)
Fetching historical data for DODO (241/305)
Fetching historical data for UNFI (242/305)
Fetching historical data for XYO (243/305)
Fetching historical data for GHST (244/305)
Fetching historical data for VRA (245/305)
Fetching historical data for XWC (246/305)
Fetching historical data for CBK (247/305)
Fetching historical data for OGN (248/305)
Fetching historical data for AVINOC (249/305)
Fetching historical data for AERGO (250/305)
Fetching historical data for TON (251/305)
Fetching historical data for DUSK (252/305)
Fetching historical data for BADGER (253/305)
Fetching historical data for SSX (254/305)
Fetching historical data for RKN (255/305)
Fetching historical data for DAG (256/305)
Fetching historical data for EXRD (257/305)
Fetching historical data for WRX (258/305)
Fetching historical data for COMBO (259/305)
Fetching historical data for ARRR (260/305)
Fetching historical data for TT (261/305)
Fetching historical data for WXT (262/305)
Fetching historical data for SOLO (263/305)
Fetching historical data for DERO (264/305)
Fetching historical data for CRE (265/305)
Fetching historical data for MOON (266/305)
Fetching historical data for ORC (267/305)
Fetching historical data for BEL (268/305)
Fetching historical data for WAN (269/305)
Fetching historical data for ETN (270/305)
Fetching historical data for META (271/305)
Fetching historical data for MDT (272/305)
Fetching historical data for MLN (273/305)
Fetching historical data for RLY (274/305)
Fetching historical data for MTRG (275/305)
Fetching historical data for ACA (276/305)
Fetching historical data for DPI (277/305)
Fetching historical data for LCX (278/305)
Fetching historical data for TRU (279/305)
Fetching historical data for CEEK (280/305)
Fetching historical data for MCB (281/305)
Fetching historical data for ULT (282/305)
Fetching historical data for CEL (283/305)
Fetching historical data for XPRT (284/305)
Fetching historical data for VGX (285/305)
Fetching historical data for HUNT (286/305)
Fetching historical data for ELA (287/305)
Fetching historical data for VRSC (288/305)
Fetching historical data for UQC (289/305)
Fetching historical data for ZEON (290/305)
Fetching historical data for IDEX (291/305)
Fetching historical data for REEF (292/305)
Fetching historical data for ASD (293/305)
Fetching historical data for IRIS (294/305)
Fetching historical data for KMD (295/305)
Fetching historical data for DAWN (296/305)
Fetching historical data for KIN (297/305)
Fetching historical data for PERP (298/305)
Fetching historical data for FLM (299/305)
Fetching historical data for PRO (300/305)
Fetching historical data for UTK (301/305)
Fetching historical data for TPT (302/305)
Fetching historical data for FCT (303/305)
Fetching historical data for RAMP (304/305)
Fetching historical data for BAKE (305/305)
Historical data file saved.
(498625, 10)

,symbol,date,open,high,low,close,avg,return,volume,marketcap
0,BTC,2023-09-02,25800.909609,25970.284489,25753.093847,25868.798140,25834.853875,0.002631,1.010039e+10,5.037864e+11
1,BTC,2023-09-01,25934.020806,26125.869774,25362.609128,25800.724373,25867.372589,-0.005140,1.720286e+10,5.024359e+11
2,BTC,2023-08-31,27301.929317,27456.079001,25752.929947,25931.472893,26616.701105,-0.050196,2.018100e+10,5.049576e+11
3,BTC,2023-08-30,27726.084034,27760.159397,27069.207425,27297.265348,27511.674691,-0.015466,1.634366e+10,5.315289e+11
4,BTC,2023-08-29,26102.485832,28089.338027,25912.628909,27727.393009,26914.939421,0.062251,2.936839e+10,5.398825e+11

# Clustering Model

In [9]:
return_data = clustering_model.load_return_data(historical_data)
print(return_data.shape)
return_data.head()

delete symbols which do not have at least 730 days of return data: ['ACA', 'BTT', 'CORE', 'FLR', 'HIFI', 'WHBAR', 'WKAVA', 'WTRX']
delete symbols which do not have the last day of return data: []
delete symbols which do not have the first day of return data: ['AVINOC', 'BAND', 'BTTOLD', 'CRV', 'DEXE', 'DPI', 'HT', 'KCS', 'KSM', 'LINK', 'LOCUS', 'LQTY', 'LYXe', 'MOON', 'NMR', 'ONE', 'QKC', 'RIF', 'RKN', 'SOLO', 'UOS', 'VTHO', 'WBTC', 'WRX', 'ZEON']
return data file saved.
(730, 271)

,1INCH,AAVE,ABBC,ACH,ADA,AERGO,AGIX,AKRO,AKT,ALGO,...,XVS,XWC,XYO,YFI,ZEC,ZEN,ZIL,ZRX,ankrETH,stETH
2021-09-03,0.066969,-0.011682,-0.001541,-0.028551,0.003016,0.090985,-0.007777,0.032577,0.006589,0.065648,...,0.192350,0.021994,-0.040803,0.045645,0.037548,0.136498,0.048381,0.050591,0.038204,0.067193
2021-09-04,0.031380,0.008203,-0.004544,-0.051257,-0.045032,0.099267,0.007378,0.025833,0.032898,-0.009172,...,0.001563,-0.029340,-0.041482,0.027426,0.025503,-0.017012,0.023077,0.058085,-0.013123,-0.008172
2021-09-05,0.040978,0.047683,-0.011046,0.033794,0.028042,0.110173,0.221943,0.040096,0.042651,0.089519,...,0.005958,0.015907,0.190725,0.034697,0.078248,0.048369,0.086111,0.052986,0.016329,0.020878
2021-09-06,-0.033027,-0.020038,-0.004989,0.081533,-0.027368,-0.005303,-0.097676,0.032446,0.000434,0.116932,...,0.081450,0.010695,0.001019,-0.017332,-0.010743,-0.022217,-0.014056,-0.018141,-0.004177,-0.010733
2021-09-07,-0.214129,-0.155347,-0.080104,-0.147611,-0.116604,-0.064124,-0.163703,-0.264117,-0.097715,-0.133944,...,-0.250280,-0.191399,-0.052287,-0.182457,-0.206245,-0.226603,-0.223396,-0.215557,-0.122383,-0.154642

In [10]:
clusters_data = clustering_model.load_clusters_data(return_data)
print(clusters_data['cluster'].unique().shape)
clusters_data.head()

Clusters data file saved.
(83,)

  symbol cluster
0   ABBC       0
1    ACH       1
2   AGIX       2
3    FET       2
4    AMP       3

# Regression Model

In [11]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import r2_score

In [12]:
days = 30  #TODO: add to config

In [13]:
clusters_data['cluster'] = clusters_data['cluster'].map('{:02}'.format)
clusters_data

    symbol cluster
0     ABBC      00
1      ACH      10
2     AGIX      20
3      FET      20
4      AMP      30
..     ...     ...
266    XLM      79
267    XRP      79
268    XVG      80
269    XWC      81
270    XYO      82

[271 rows x 2 columns]

In [14]:
regression_data = historical_data.merge(
    clusters_data,
    on='symbol',
    how='inner'
)

regression_data

,symbol,date,open,high,low,close,avg,return,volume,marketcap,cluster
0,BTC,2023-09-02,25800.909609,25970.284489,25753.093847,25868.798140,25834.853875,0.002631,1.010039e+10,5.037864e+11,13
1,BTC,2023-09-01,25934.020806,26125.869774,25362.609128,25800.724373,25867.372589,-0.005140,1.720286e+10,5.024359e+11,13
2,BTC,2023-08-31,27301.929317,27456.079001,25752.929947,25931.472893,26616.701105,-0.050196,2.018100e+10,5.049576e+11,13
3,BTC,2023-08-30,27726.084034,27760.159397,27069.207425,27297.265348,27511.674691,-0.015466,1.634366e+10,5.315289e+11,13
4,BTC,2023-08-29,26102.485832,28089.338027,25912.628909,27727.393009,26914.939421,0.062251,2.936839e+10,5.398825e+11,13
...,...,...,...,...,...,...,...,...,...,...,...
458816,BAKE,2020-09-28,0.079410,0.090203,0.073632,0.082450,0.080930,0.038281,2.455715e+06,0.000000e+00,72
458817,BAKE,2020-09-27,0.070745,0.086515,0.070034,0.079410,0.075077,0.122485,7.819345e+05,0.000000e+00,72
458818,BAKE,2020-09-26,0.074360,0.075681,0.062117,0.070745,0.072552,-0.048620,5.875917e+05,0.000000e+00,72
458819,BAKE,2020-09-25,0.077952,0.114162,0.069950,0.074360,0.076156,-0.046078,2.592007e+06,0.000000e+00,72
458820,BAKE,2020-09-24,0.131760,0.131760,0.052682,0.077115,0.104438,-0.414732,3.209909e+06,0.000000e+00,72

In [15]:
regression_data['future_return'] = ((1 + regression_data['return']).rolling(window=days).apply(np.prod, raw=True) - 1).shift(1)
regression_data['future_risk'] = regression_data['return'].rolling(window=days).agg(np.var)
regression_data.loc[regression_data.groupby('symbol').cumcount() < days, ['future_return', 'future_risk']] = np.nan
regression_data.dropna(inplace=True)  # subset='future_return'
regression_data.reset_index(drop=True, inplace=True)
regression_data

,symbol,date,open,high,low,close,avg,return,volume,marketcap,cluster,future_return,future_risk
0,BTC,2023-08-03,29161.811946,29375.707028,28959.488209,29178.678780,29170.245363,0.000578,1.278036e+10,5.674461e+11,13,-0.112826,0.000448
1,BTC,2023-08-02,29704.146838,29987.997112,28946.510378,29151.959689,29428.053264,-0.018590,1.921266e+10,5.668988e+11,13,-0.114643,0.000456
2,BTC,2023-08-01,29230.872405,29675.732498,28657.023820,29675.732498,29453.302452,0.015219,1.827239e+10,5.770561e+11,13,-0.126612,0.000391
3,BTC,2023-07-31,29278.314054,29489.872869,29131.579034,29230.110879,29254.212467,-0.001646,1.165678e+10,5.683656e+11,13,-0.066460,0.000385
4,BTC,2023-07-30,29357.093643,29443.169490,29059.502629,29275.307947,29316.200795,-0.002786,8.678455e+09,5.692170e+11,13,-0.053356,0.000239
...,...,...,...,...,...,...,...,...,...,...,...,...,...
450683,BAKE,2020-09-28,0.079410,0.090203,0.073632,0.082450,0.080930,0.038281,2.455715e+06,0.000000e+00,72,-0.814739,0.021462
450684,BAKE,2020-09-27,0.070745,0.086515,0.070034,0.079410,0.075077,0.122485,7.819345e+05,0.000000e+00,72,-0.785631,0.022283
450685,BAKE,2020-09-26,0.074360,0.075681,0.062117,0.070745,0.072552,-0.048620,5.875917e+05,0.000000e+00,72,-0.760719,0.022280
450686,BAKE,2020-09-25,0.077952,0.114162,0.069950,0.074360,0.076156,-0.046078,2.592007e+06,0.000000e+00,72,-0.759845,0.022239
450687,BAKE,2020-09-24,0.131760,0.131760,0.052682,0.077115,0.104438,-0.414732,3.209909e+06,0.000000e+00,72,-0.753294,0.027005

In [16]:
regression_max_data = regression_data[['symbol', 'open', 'high', 'low', 'close', 'avg', 'return', 'volume', 'marketcap', 'future_return', 'future_risk']].groupby('symbol').max()
regression_max_data = regression_data[['symbol']].merge(
    regression_max_data,
    on='symbol',
    how='left'
)
regression_max_data

,symbol,open,high,low,close,avg,return,volume,marketcap,future_return,future_risk
0,BTC,67549.735581,68789.625939,66382.061008,67566.830088,67260.781839,0.416811,3.509679e+11,1.274831e+12,4.388445,0.017703
1,BTC,67549.735581,68789.625939,66382.061008,67566.830088,67260.781839,0.416811,3.509679e+11,1.274831e+12,4.388445,0.017703
2,BTC,67549.735581,68789.625939,66382.061008,67566.830088,67260.781839,0.416811,3.509679e+11,1.274831e+12,4.388445,0.017703
3,BTC,67549.735581,68789.625939,66382.061008,67566.830088,67260.781839,0.416811,3.509679e+11,1.274831e+12,4.388445,0.017703
4,BTC,67549.735581,68789.625939,66382.061008,67566.830088,67260.781839,0.416811,3.509679e+11,1.274831e+12,4.388445,0.017703
...,...,...,...,...,...,...,...,...,...,...,...
450683,BAKE,8.151144,8.479498,6.666291,8.118519,7.501096,1.540328,1.119664e+09,1.532110e+09,159.802405,0.241411
450684,BAKE,8.151144,8.479498,6.666291,8.118519,7.501096,1.540328,1.119664e+09,1.532110e+09,159.802405,0.241411
450685,BAKE,8.151144,8.479498,6.666291,8.118519,7.501096,1.540328,1.119664e+09,1.532110e+09,159.802405,0.241411
450686,BAKE,8.151144,8.479498,6.666291,8.118519,7.501096,1.540328,1.119664e+09,1.532110e+09,159.802405,0.241411
450687,BAKE,8.151144,8.479498,6.666291,8.118519,7.501096,1.540328,1.119664e+09,1.532110e+09,159.802405,0.241411

In [17]:
regression_normalized_data = regression_data[['future_return', 'future_risk', 'open', 'high', 'low', 'close', 'avg', 'return', 'volume', 'marketcap']] / regression_max_data[['future_return', 'future_risk', 'open', 'high', 'low', 'close', 'avg', 'return', 'volume', 'marketcap']]
regression_normalized_data = regression_data[['symbol', 'cluster']].join(
    regression_normalized_data
)
regression_normalized_data

,symbol,cluster,future_return,future_risk,open,high,low,close,avg,return,volume,marketcap
0,BTC,13,-0.025710,0.025326,0.431709,0.427037,0.436255,0.431849,0.433689,0.001388,0.036415,0.445115
1,BTC,13,-0.026124,0.025735,0.439737,0.435938,0.436059,0.431454,0.437522,-0.044600,0.054742,0.444685
2,BTC,13,-0.028851,0.022091,0.432731,0.431398,0.431698,0.439206,0.437897,0.036513,0.052063,0.452653
3,BTC,13,-0.015144,0.021731,0.433433,0.428697,0.438847,0.432610,0.434937,-0.003950,0.033213,0.445836
4,BTC,13,-0.012158,0.013508,0.434600,0.428018,0.437761,0.433279,0.435859,-0.006684,0.024727,0.446504
...,...,...,...,...,...,...,...,...,...,...,...,...
450683,BAKE,72,-0.005098,0.088902,0.009742,0.010638,0.011045,0.010156,0.010789,0.024852,0.002193,0.000000
450684,BAKE,72,-0.004916,0.092304,0.008679,0.010203,0.010506,0.009781,0.010009,0.079519,0.000698,0.000000
450685,BAKE,72,-0.004760,0.092290,0.009123,0.008925,0.009318,0.008714,0.009672,-0.031564,0.000525,0.000000
450686,BAKE,72,-0.004755,0.092120,0.009563,0.013463,0.010493,0.009159,0.010153,-0.029914,0.002315,0.000000
450687,BAKE,72,-0.004714,0.111862,0.016165,0.015539,0.007903,0.009499,0.013923,-0.269249,0.002867,0.000000

In [18]:
regression_normalized_data = pd.get_dummies(regression_normalized_data)
regression_normalized_data

,future_return,future_risk,open,high,low,close,avg,return,volume,marketcap,...,cluster_74,cluster_75,cluster_76,cluster_77,cluster_78,cluster_79,cluster_80,cluster_81,cluster_82,cluster_90
0,-0.025710,0.025326,0.431709,0.427037,0.436255,0.431849,0.433689,0.001388,0.036415,0.445115,...,False,False,False,False,False,False,False,False,False,False
1,-0.026124,0.025735,0.439737,0.435938,0.436059,0.431454,0.437522,-0.044600,0.054742,0.444685,...,False,False,False,False,False,False,False,False,False,False
2,-0.028851,0.022091,0.432731,0.431398,0.431698,0.439206,0.437897,0.036513,0.052063,0.452653,...,False,False,False,False,False,False,False,False,False,False
3,-0.015144,0.021731,0.433433,0.428697,0.438847,0.432610,0.434937,-0.003950,0.033213,0.445836,...,False,False,False,False,False,False,False,False,False,False
4,-0.012158,0.013508,0.434600,0.428018,0.437761,0.433279,0.435859,-0.006684,0.024727,0.446504,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450683,-0.005098,0.088902,0.009742,0.010638,0.011045,0.010156,0.010789,0.024852,0.002193,0.000000,...,False,False,False,False,False,False,False,False,False,False
450684,-0.004916,0.092304,0.008679,0.010203,0.010506,0.009781,0.010009,0.079519,0.000698,0.000000,...,False,False,False,False,False,False,False,False,False,False
450685,-0.004760,0.092290,0.009123,0.008925,0.009318,0.008714,0.009672,-0.031564,0.000525,0.000000,...,False,False,False,False,False,False,False,False,False,False
450686,-0.004755,0.092120,0.009563,0.013463,0.010493,0.009159,0.010153,-0.029914,0.002315,0.000000,...,False,False,False,False,False,False,False,False,False,False
450687,-0.004714,0.111862,0.016165,0.015539,0.007903,0.009499,0.013923,-0.269249,0.002867,0.000000,...,False,False,False,False,False,False,False,False,False,False

In [20]:
regr = linear_model.LinearRegression()
x = regression_normalized_data.loc[:, 'open':]
y = regression_normalized_data[['future_return', 'future_risk']]

regr.fit(x, y)
y_ = regr.predict(x)

# print(f'RSQ: {(100 * r2_score(y, y_)):.2f}%')

array([[-0.02057076,  0.08781433],
       [-0.02091408,  0.08750916],
       [-0.02024651,  0.10069275],
       ...,
       [ 0.02093315,  0.05197144],
       [ 0.02148628,  0.05343628],
       [ 0.01214027,  0.02082825]])