# Import Modules and Config

In [1]:
import json
import data_load
import clustering_model
%load_ext autoreload
%autoreload 2

In [2]:
with open("./config.json", "r") as json_file:
    config = json.load(json_file)

number_of_cryptocurrencies = config["number_of_cryptocurrencies"]
history_days = config["history_days"]
future_days = config["future_days"]

update_data_load = config["update"]["data_load"]
update_clustering_model = config["update"]["clustering_model"]
update_regression_model = config["update"]["regression_model"]

# Data Load
To Do:
- Delete rows with market cap = 0 and volume = 0 from historical data
- Add tries for connection error to historical data
- Add end of date range to historical data function

In [3]:
basic_data = data_load.load_basic_data(update_data_load, number_of_cryptocurrencies)
print(basic_data.shape)
basic_data.head()

(10, 18)

,id,name,symbol,slug,tags,cmcRank,marketPairCount,circulatingSupply,selfReportedCirculatingSupply,totalSupply,maxSupply,isActive,lastUpdated,dateAdded,quotes,isAudited,auditInfoList,platform
0,1,Bitcoin,BTC,bitcoin,"['mineable', 'pow', 'sha-256', 'store-of-value...",1,10441,1.947622e+07,0,1.947622e+07,2.100000e+07,1,2023-09-04T13:23:00.000Z,2010-07-13T00:00:00.000Z,"[{'name': 'USD', 'price': 25879.207139198825, ...",False,NaN,NaN
1,1027,Ethereum,ETH,ethereum,"['pos', 'smart-contracts', 'ethereum-ecosystem...",2,7328,1.202177e+08,0,1.202177e+08,NaN,1,2023-09-04T13:23:00.000Z,2015-08-07T00:00:00.000Z,"[{'name': 'USD', 'price': 1632.1382143528235, ...",False,[],NaN
2,825,Tether USDt,USDT,tether,"['payments', 'stablecoin', 'asset-backed-stabl...",3,61309,8.290017e+10,0,8.543720e+10,NaN,1,2023-09-04T13:22:00.000Z,2015-02-25T00:00:00.000Z,"[{'name': 'USD', 'price': 0.9996079680236342, ...",True,"[{'coinId': '825', 'auditor': 'CertiK', 'audit...","{'id': 1, 'name': 'Ethereum', 'symbol': 'ETH',..."
3,1839,BNB,BNB,bnb,"['marketplace', 'centralized-exchange', 'payme...",4,1605,1.538500e+08,0,1.538500e+08,NaN,1,2023-09-04T13:23:00.000Z,2017-07-25T00:00:00.000Z,"[{'name': 'USD', 'price': 214.54261265946366, ...",True,"[{'coinId': '1839', 'auditor': 'CertiK', 'audi...",NaN
4,52,XRP,XRP,xrp,"['medium-of-exchange', 'enterprise-solutions',...",5,1060,5.297770e+10,0,9.998846e+10,1.000000e+11,1,2023-09-04T13:23:00.000Z,2013-08-04T00:00:00.000Z,"[{'name': 'USD', 'price': 0.50220861914458, 'v...",True,"[{'coinId': '52', 'auditor': 'CertiK', 'auditS...",NaN

In [4]:
historical_data = data_load.load_historical_data(basic_data, update_data_load, history_days)
print(historical_data.shape)
historical_data.head()

(13140, 10)

,symbol,date,open,high,low,close,avg,return,volume,marketcap
0,BTC,2023-09-03,25869.472793,26087.149165,25817.031798,25969.567353,25919.520073,0.003869,8.962525e+09,5.057740e+11
1,BTC,2023-09-02,25800.909609,25970.284489,25753.093847,25868.798140,25834.853875,0.002631,1.010039e+10,5.037864e+11
2,BTC,2023-09-01,25934.020806,26125.869774,25362.609128,25800.724373,25867.372589,-0.005140,1.720286e+10,5.024359e+11
3,BTC,2023-08-31,27301.929317,27456.079001,25752.929947,25931.472893,26616.701105,-0.050196,2.018100e+10,5.049576e+11
4,BTC,2023-08-30,27726.084034,27760.159397,27069.207425,27297.265348,27511.674691,-0.015466,1.634366e+10,5.315289e+11

# Clustering Model
To Do:
- Add a KPI to measure how much the model worked

In [5]:
return_data = clustering_model.load_return_data(historical_data, update_clustering_model)
print(return_data.shape)
return_data.head()

(1460, 9)

,ADA,BNB,BTC,DOGE,ETH,TRX,USDC,USDT,XRP
0,-0.023453,0.043322,-0.001195,-0.059083,-0.009940,-0.037314,-0.001902,-0.001738,-0.013719
1,-0.000480,-0.026710,-0.021260,-0.007855,-0.024206,-0.049937,0.003227,0.002320,-0.015329
2,0.039892,0.018253,0.015774,0.000017,0.048880,0.082168,-0.000741,0.002277,0.032786
3,0.010990,-0.000331,-0.007305,-0.003986,0.017236,0.026173,0.001012,-0.001022,0.008848
4,0.004828,-0.012479,-0.010366,-0.018986,-0.001175,-0.006186,-0.001815,-0.000709,-0.013999

In [6]:
clusters_data = clustering_model.load_clusters_data(return_data, update_clustering_model)
print(clusters_data['cluster'].unique().shape)
clusters_data.head()

(3,)

  symbol  cluster
0   DOGE        0
1    ADA        1
2    BNB        1
3    BTC        1
4    ETH        1

# Regression Model
To Do:
- Add finantioal indexes to regression model
- Add date (numeric date, year, month, day) to regression model

In [7]:
import numpy as np
import pandas as pd

from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor

In [8]:
regression_data = historical_data.merge(  # historical_data[historical_data['symbol'] == 'BTC']
    clusters_data,
    on='symbol',
    how='inner'
)

regression_data

,symbol,date,open,high,low,close,avg,return,volume,marketcap,cluster
0,BTC,2023-09-03,25869.472793,26087.149165,25817.031798,25969.567353,25919.520073,0.003869,8.962525e+09,5.057740e+11,1
1,BTC,2023-09-02,25800.909609,25970.284489,25753.093847,25868.798140,25834.853875,0.002631,1.010039e+10,5.037864e+11,1
2,BTC,2023-09-01,25934.020806,26125.869774,25362.609128,25800.724373,25867.372589,-0.005140,1.720286e+10,5.024359e+11,1
3,BTC,2023-08-31,27301.929317,27456.079001,25752.929947,25931.472893,26616.701105,-0.050196,2.018100e+10,5.049576e+11,1
4,BTC,2023-08-30,27726.084034,27760.159397,27069.207425,27297.265348,27511.674691,-0.015466,1.634366e+10,5.315289e+11,1
...,...,...,...,...,...,...,...,...,...,...,...
13135,TRX,2019-09-09,0.015840,0.016020,0.015290,0.015742,0.015791,-0.006186,6.691878e+08,1.049680e+09,1
13136,TRX,2019-09-08,0.015436,0.016091,0.015423,0.015840,0.015638,0.026173,5.655519e+08,1.056276e+09,1
13137,TRX,2019-09-07,0.014262,0.015676,0.014210,0.015434,0.014848,0.082168,5.277203e+08,1.029145e+09,1
13138,TRX,2019-09-06,0.015006,0.015087,0.014053,0.014256,0.014631,-0.049937,4.658689e+08,9.506396e+08,1
13139,TRX,2019-09-05,0.015591,0.015613,0.014691,0.015009,0.015300,-0.037314,4.411229e+08,1.000831e+09,1

In [9]:
regression_data['future_return'] = ((1 + regression_data['return']).rolling(window=future_days).apply(np.prod, raw=True) - 1).shift(1)
regression_data['future_risk'] = regression_data['return'].rolling(window=future_days).agg(np.var)
regression_data.loc[regression_data.groupby('symbol').cumcount() < future_days, ['future_return', 'future_risk']] = np.nan
regression_data.dropna(inplace=True)  # subset='future_return'
regression_data.reset_index(drop=True, inplace=True)
regression_data

,symbol,date,open,high,low,close,avg,return,volume,marketcap,cluster,future_return,future_risk
0,BTC,2023-08-04,29174.381837,29302.078222,28885.335399,29074.091728,29124.236782,-0.003438,1.203664e+10,5.654349e+11,1,-0.106322,0.000449
1,BTC,2023-08-03,29161.811946,29375.707028,28959.488209,29178.678780,29170.245363,0.000578,1.278036e+10,5.674461e+11,1,-0.112826,0.000448
2,BTC,2023-08-02,29704.146838,29987.997112,28946.510378,29151.959689,29428.053264,-0.018590,1.921266e+10,5.668988e+11,1,-0.114643,0.000456
3,BTC,2023-08-01,29230.872405,29675.732498,28657.023820,29675.732498,29453.302452,0.015219,1.827239e+10,5.770561e+11,1,-0.126612,0.000391
4,BTC,2023-07-31,29278.314054,29489.872869,29131.579034,29230.110879,29254.212467,-0.001646,1.165678e+10,5.683656e+11,1,-0.066460,0.000385
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,TRX,2019-09-09,0.015840,0.016020,0.015290,0.015742,0.015791,-0.006186,6.691878e+08,1.049680e+09,1,0.081585,0.003377
12866,TRX,2019-09-08,0.015436,0.016091,0.015423,0.015840,0.015638,0.026173,5.655519e+08,1.056276e+09,1,0.081797,0.003337
12867,TRX,2019-09-07,0.014262,0.015676,0.014210,0.015434,0.014848,0.082168,5.277203e+08,1.029145e+09,1,0.062727,0.003178
12868,TRX,2019-09-06,0.015006,0.015087,0.014053,0.014256,0.014631,-0.049937,4.658689e+08,9.506396e+08,1,0.038504,0.003253
12869,TRX,2019-09-05,0.015591,0.015613,0.014691,0.015009,0.015300,-0.037314,4.411229e+08,1.000831e+09,1,0.008189,0.003279

In [10]:
regression_max_data = regression_data[['symbol', 'open', 'high', 'low', 'close', 'avg', 'return', 'volume', 'marketcap', 'future_return', 'future_risk']].groupby('symbol').max()
regression_max_data = regression_data[['symbol']].merge(
    regression_max_data,
    on='symbol',
    how='left'
)
regression_max_data

,symbol,open,high,low,close,avg,return,volume,marketcap,future_return,future_risk
0,BTC,67549.735581,68789.625939,66382.061008,67566.830088,67260.781839,0.187972,3.509679e+11,1.274831e+12,1.201304,0.008237
1,BTC,67549.735581,68789.625939,66382.061008,67566.830088,67260.781839,0.187972,3.509679e+11,1.274831e+12,1.201304,0.008237
2,BTC,67549.735581,68789.625939,66382.061008,67566.830088,67260.781839,0.187972,3.509679e+11,1.274831e+12,1.201304,0.008237
3,BTC,67549.735581,68789.625939,66382.061008,67566.830088,67260.781839,0.187972,3.509679e+11,1.274831e+12,1.201304,0.008237
4,BTC,67549.735581,68789.625939,66382.061008,67566.830088,67260.781839,0.187972,3.509679e+11,1.274831e+12,1.201304,0.008237
...,...,...,...,...,...,...,...,...,...,...,...
12865,TRX,0.164327,0.179934,0.154469,0.164650,0.163208,0.396813,1.397316e+10,1.179874e+10,2.130512,0.013712
12866,TRX,0.164327,0.179934,0.154469,0.164650,0.163208,0.396813,1.397316e+10,1.179874e+10,2.130512,0.013712
12867,TRX,0.164327,0.179934,0.154469,0.164650,0.163208,0.396813,1.397316e+10,1.179874e+10,2.130512,0.013712
12868,TRX,0.164327,0.179934,0.154469,0.164650,0.163208,0.396813,1.397316e+10,1.179874e+10,2.130512,0.013712
12869,TRX,0.164327,0.179934,0.154469,0.164650,0.163208,0.396813,1.397316e+10,1.179874e+10,2.130512,0.013712

In [11]:
regression_normalized_data = regression_data[['future_return', 'future_risk', 'open', 'high', 'low', 'close', 'avg', 'return', 'volume', 'marketcap']] / regression_max_data[['future_return', 'future_risk', 'open', 'high', 'low', 'close', 'avg', 'return', 'volume', 'marketcap']]
regression_normalized_data = regression_data[['symbol', 'cluster']].join(
    regression_normalized_data
)
regression_normalized_data['cluster'] = regression_normalized_data['cluster'].astype('str')
regression_normalized_data

,symbol,cluster,future_return,future_risk,open,high,low,close,avg,return,volume,marketcap
0,BTC,1,-0.088505,0.054522,0.431895,0.425967,0.435138,0.430301,0.433005,-0.018288,0.034296,0.443537
1,BTC,1,-0.093920,0.054429,0.431709,0.427037,0.436255,0.431849,0.433689,0.003077,0.036415,0.445115
2,BTC,1,-0.095432,0.055308,0.439737,0.435938,0.436059,0.431454,0.437522,-0.098895,0.054742,0.444685
3,BTC,1,-0.105396,0.047477,0.432731,0.431398,0.431698,0.439206,0.437897,0.080963,0.052063,0.452653
4,BTC,1,-0.055323,0.046703,0.433433,0.428697,0.438847,0.432610,0.434937,-0.008759,0.033213,0.445836
...,...,...,...,...,...,...,...,...,...,...,...,...
12865,TRX,1,0.038294,0.246295,0.096391,0.089036,0.098985,0.095606,0.096751,-0.015590,0.047891,0.088965
12866,TRX,1,0.038393,0.243392,0.093937,0.089427,0.099843,0.096207,0.095819,0.065959,0.040474,0.089524
12867,TRX,1,0.029442,0.231779,0.086789,0.087118,0.091992,0.093736,0.090974,0.207069,0.037767,0.087225
12868,TRX,1,0.018073,0.237249,0.091316,0.083846,0.090979,0.086586,0.089646,-0.125844,0.033340,0.080571
12869,TRX,1,0.003844,0.239132,0.094876,0.086773,0.095107,0.091157,0.093745,-0.094035,0.031569,0.084825

In [12]:
regression_normalized_data = pd.get_dummies(regression_normalized_data)
regression_normalized_data

,future_return,future_risk,open,high,low,close,avg,return,volume,marketcap,...,symbol_BTC,symbol_DOGE,symbol_ETH,symbol_TRX,symbol_USDC,symbol_USDT,symbol_XRP,cluster_0,cluster_1,cluster_2
0,-0.088505,0.054522,0.431895,0.425967,0.435138,0.430301,0.433005,-0.018288,0.034296,0.443537,...,True,False,False,False,False,False,False,False,True,False
1,-0.093920,0.054429,0.431709,0.427037,0.436255,0.431849,0.433689,0.003077,0.036415,0.445115,...,True,False,False,False,False,False,False,False,True,False
2,-0.095432,0.055308,0.439737,0.435938,0.436059,0.431454,0.437522,-0.098895,0.054742,0.444685,...,True,False,False,False,False,False,False,False,True,False
3,-0.105396,0.047477,0.432731,0.431398,0.431698,0.439206,0.437897,0.080963,0.052063,0.452653,...,True,False,False,False,False,False,False,False,True,False
4,-0.055323,0.046703,0.433433,0.428697,0.438847,0.432610,0.434937,-0.008759,0.033213,0.445836,...,True,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12865,0.038294,0.246295,0.096391,0.089036,0.098985,0.095606,0.096751,-0.015590,0.047891,0.088965,...,False,False,False,True,False,False,False,False,True,False
12866,0.038393,0.243392,0.093937,0.089427,0.099843,0.096207,0.095819,0.065959,0.040474,0.089524,...,False,False,False,True,False,False,False,False,True,False
12867,0.029442,0.231779,0.086789,0.087118,0.091992,0.093736,0.090974,0.207069,0.037767,0.087225,...,False,False,False,True,False,False,False,False,True,False
12868,0.018073,0.237249,0.091316,0.083846,0.090979,0.086586,0.089646,-0.125844,0.033340,0.080571,...,False,False,False,True,False,False,False,False,True,False
12869,0.003844,0.239132,0.094876,0.086773,0.095107,0.091157,0.093745,-0.094035,0.031569,0.084825,...,False,False,False,True,False,False,False,False,True,False

In [13]:
x = regression_normalized_data.loc[:, 'open':]
y = regression_normalized_data[['future_return', 'future_risk']]
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.2, random_state = 4)

In [14]:
regr = linear_model.LinearRegression()
regr.fit(train_x, train_y)

train_y_ = regr.predict(train_x)
print(f'Train R2: {(100 * r2_score(train_y, train_y_)):.2f}%')

test_y_ = regr.predict(test_x)
print(f'Test R2: {(100 * r2_score(test_y, test_y_)):.2f}%')

Train R2: 16.49%
Test R2: 16.92%

In [15]:
regr = RandomForestRegressor(n_estimators=100)
regr.fit(train_x, train_y)

train_y_ = regr.predict(train_x)
print(f'Train R2: {(100 * r2_score(train_y, train_y_)):.2f}%')

test_y_ = regr.predict(test_x)
print(f'Test R2: {(100 * r2_score(test_y, test_y_)):.2f}%')

Train R2: 94.29%
Test R2: 59.04%

In [16]:
# regression_normalized_data.plot.scatter(x='close', y='future_return')

# Portfolio Selection