# Import Modules and Config

In [1]:
import json
import data_load
import clustering_model
import regression_model
%load_ext autoreload
%autoreload 2

In [2]:
with open("./config.json", "r") as json_file:
    config = json.load(json_file)

number_of_cryptocurrencies = config["number_of_cryptocurrencies"]
history_days = config["history_days"]
future_days = config["future_days"]

update_data_load = config["update"]["data_load"]
update_clustering_model = config["update"]["clustering_model"]
update_regression_model = config["update"]["regression_model"]

# Data Load
To Do:
- Delete rows with market cap = 0 and volume = 0 from historical data
- Add tries for connection error to historical data
- Add end of date range to historical data function

In [3]:
basic_data = data_load.load_basic_data(number_of_cryptocurrencies, update_data_load)
print(basic_data.shape)
basic_data.head()

(10, 18)

,id,name,symbol,slug,tags,cmcRank,marketPairCount,circulatingSupply,selfReportedCirculatingSupply,totalSupply,maxSupply,isActive,lastUpdated,dateAdded,quotes,isAudited,auditInfoList,platform
0,1,Bitcoin,BTC,bitcoin,"['mineable', 'pow', 'sha-256', 'store-of-value...",1,10441,1.947622e+07,0,1.947622e+07,2.100000e+07,1,2023-09-04T13:23:00.000Z,2010-07-13T00:00:00.000Z,"[{'name': 'USD', 'price': 25879.207139198825, ...",False,NaN,NaN
1,1027,Ethereum,ETH,ethereum,"['pos', 'smart-contracts', 'ethereum-ecosystem...",2,7328,1.202177e+08,0,1.202177e+08,NaN,1,2023-09-04T13:23:00.000Z,2015-08-07T00:00:00.000Z,"[{'name': 'USD', 'price': 1632.1382143528235, ...",False,[],NaN
2,825,Tether USDt,USDT,tether,"['payments', 'stablecoin', 'asset-backed-stabl...",3,61309,8.290017e+10,0,8.543720e+10,NaN,1,2023-09-04T13:22:00.000Z,2015-02-25T00:00:00.000Z,"[{'name': 'USD', 'price': 0.9996079680236342, ...",True,"[{'coinId': '825', 'auditor': 'CertiK', 'audit...","{'id': 1, 'name': 'Ethereum', 'symbol': 'ETH',..."
3,1839,BNB,BNB,bnb,"['marketplace', 'centralized-exchange', 'payme...",4,1605,1.538500e+08,0,1.538500e+08,NaN,1,2023-09-04T13:23:00.000Z,2017-07-25T00:00:00.000Z,"[{'name': 'USD', 'price': 214.54261265946366, ...",True,"[{'coinId': '1839', 'auditor': 'CertiK', 'audi...",NaN
4,52,XRP,XRP,xrp,"['medium-of-exchange', 'enterprise-solutions',...",5,1060,5.297770e+10,0,9.998846e+10,1.000000e+11,1,2023-09-04T13:23:00.000Z,2013-08-04T00:00:00.000Z,"[{'name': 'USD', 'price': 0.50220861914458, 'v...",True,"[{'coinId': '52', 'auditor': 'CertiK', 'auditS...",NaN

In [4]:
historical_data = data_load.load_historical_data(basic_data, history_days, update_data_load)
print(historical_data.shape)
historical_data.head()

(13140, 10)

,symbol,date,open,high,low,close,avg,return,volume,marketcap
0,BTC,2023-09-03,25869.472793,26087.149165,25817.031798,25969.567353,25919.520073,0.003869,8.962525e+09,5.057740e+11
1,BTC,2023-09-02,25800.909609,25970.284489,25753.093847,25868.798140,25834.853875,0.002631,1.010039e+10,5.037864e+11
2,BTC,2023-09-01,25934.020806,26125.869774,25362.609128,25800.724373,25867.372589,-0.005140,1.720286e+10,5.024359e+11
3,BTC,2023-08-31,27301.929317,27456.079001,25752.929947,25931.472893,26616.701105,-0.050196,2.018100e+10,5.049576e+11
4,BTC,2023-08-30,27726.084034,27760.159397,27069.207425,27297.265348,27511.674691,-0.015466,1.634366e+10,5.315289e+11

# Clustering Model
To Do:
- Add a KPI to measure how much the model worked

In [5]:
return_data = clustering_model.load_return_data(historical_data, update_clustering_model)
print(return_data.shape)
return_data.head()

(1460, 9)

,ADA,BNB,BTC,DOGE,ETH,TRX,USDC,USDT,XRP
0,-0.023453,0.043322,-0.001195,-0.059083,-0.009940,-0.037314,-0.001902,-0.001738,-0.013719
1,-0.000480,-0.026710,-0.021260,-0.007855,-0.024206,-0.049937,0.003227,0.002320,-0.015329
2,0.039892,0.018253,0.015774,0.000017,0.048880,0.082168,-0.000741,0.002277,0.032786
3,0.010990,-0.000331,-0.007305,-0.003986,0.017236,0.026173,0.001012,-0.001022,0.008848
4,0.004828,-0.012479,-0.010366,-0.018986,-0.001175,-0.006186,-0.001815,-0.000709,-0.013999

In [6]:
clusters_data = clustering_model.load_clusters_data(return_data, update_clustering_model)
print(clusters_data['cluster'].unique().shape)
clusters_data.head()

(3,)

  symbol  cluster
0   DOGE        0
1    ADA        1
2    BNB        1
3    BTC        1
4    ETH        1

# Regression Model
To Do:
- Add finantioal indexes to regression model
- Add date (numeric date, year, month, day) to regression model
- Create a dataframe which has the predicted return and risk for each symbol

In [7]:
regression_data = regression_model.load_regression_data(historical_data, clusters_data, future_days, update_regression_model)
print(regression_data.shape)
regression_data.head()

(12870, 22)

,future_return,future_risk,open,high,low,close,avg,return,volume,marketcap,...,symbol_BTC,symbol_DOGE,symbol_ETH,symbol_TRX,symbol_USDC,symbol_USDT,symbol_XRP,cluster_0,cluster_1,cluster_2
0,-0.088505,0.054522,0.431895,0.425967,0.435138,0.430301,0.433005,-0.018288,0.034296,0.443537,...,True,False,False,False,False,False,False,False,True,False
1,-0.093920,0.054429,0.431709,0.427037,0.436255,0.431849,0.433689,0.003077,0.036415,0.445115,...,True,False,False,False,False,False,False,False,True,False
2,-0.095432,0.055308,0.439737,0.435938,0.436059,0.431454,0.437522,-0.098895,0.054742,0.444685,...,True,False,False,False,False,False,False,False,True,False
3,-0.105396,0.047477,0.432731,0.431398,0.431698,0.439206,0.437897,0.080963,0.052063,0.452653,...,True,False,False,False,False,False,False,False,True,False
4,-0.055323,0.046703,0.433433,0.428697,0.438847,0.432610,0.434937,-0.008759,0.033213,0.445836,...,True,False,False,False,False,False,False,False,True,False

In [8]:
# regression_data.plot.scatter(x='close', y='future_return')

In [9]:
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [10]:
x = regression_data.loc[:, 'open':]
y = regression_data[['future_return', 'future_risk']]
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.2, random_state = 4)

In [11]:
regr = linear_model.LinearRegression()
regr.fit(train_x, train_y)

train_y_ = regr.predict(train_x)
print(f'Train R2: {(100 * r2_score(train_y, train_y_)):.2f}%')
test_y_ = regr.predict(test_x)
print(f'Test R2: {(100 * r2_score(test_y, test_y_)):.2f}%')

Train R2: 16.66%
Test R2: 16.97%

In [12]:
regr = RandomForestRegressor(n_estimators=100)
regr.fit(train_x, train_y)

train_y_ = regr.predict(train_x)
print(f'Train R2: {(100 * r2_score(train_y, train_y_)):.2f}%')
test_y_ = regr.predict(test_x)
print(f'Test R2: {(100 * r2_score(test_y, test_y_)):.2f}%')

Train R2: 94.17%
Test R2: 59.21%

# Portfolio Selection