# Import Modules and Config

In [19]:
import data_load
import clustering_model
import regression_model
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
UPDATE_DATA_LOAD = False
UPDATE_CLUSTERING_MODEL = True
UPDATE_REGRESSION_MODEL = True

SELECTED_END_DATE = "2023-08-01"
SELECTED_SYMBOLS = 3
SELECTED_DAYS = 1460
FUTURE_DAYS = 30

# Data Load
To Do:
- Delete rows with market cap = 0 and volume = 0 from historical data
- Add end of date range to historical data function

In [21]:
basic_data = data_load.load_basic_data(selected_symbols=SELECTED_SYMBOLS, update=UPDATE_DATA_LOAD)
print(basic_data.shape)
basic_data.head()

(3, 18)

,id,name,symbol,slug,tags,cmcRank,marketPairCount,circulatingSupply,selfReportedCirculatingSupply,totalSupply,maxSupply,isActive,lastUpdated,dateAdded,quotes,isAudited,auditInfoList,platform
0,1,Bitcoin,BTC,bitcoin,"['mineable', 'pow', 'sha-256', 'store-of-value...",1,10443,1.947698e+07,0,1.947698e+07,21000000.0,1,2023-09-05T11:38:00.000Z,2010-07-13T00:00:00.000Z,"[{'name': 'USD', 'price': 25740.729521564557, ...",False,NaN,NaN
1,1027,Ethereum,ETH,ethereum,"['pos', 'smart-contracts', 'ethereum-ecosystem...",2,7335,1.202182e+08,0,1.202182e+08,NaN,1,2023-09-05T11:38:00.000Z,2015-08-07T00:00:00.000Z,"[{'name': 'USD', 'price': 1632.6245679674767, ...",False,[],NaN
2,825,Tether USDt,USDT,tether,"['payments', 'stablecoin', 'asset-backed-stabl...",3,61371,8.290552e+10,0,8.543720e+10,NaN,1,2023-09-05T11:38:00.000Z,2015-02-25T00:00:00.000Z,"[{'name': 'USD', 'price': 0.9992351125029195, ...",True,"[{'coinId': '825', 'auditor': 'CertiK', 'audit...","{'id': 1, 'name': 'Ethereum', 'symbol': 'ETH',..."

In [22]:
symbols_list = basic_data["symbol"].to_list()
historical_data = data_load.load_historical_data(symbols_list, update=UPDATE_DATA_LOAD)
print(historical_data.shape)
historical_data.head()

(9842, 10)

,symbol,date,open,high,low,close,avg,return,volume,marketcap
0,BTC,2023-09-04,25968.170133,26081.524605,25657.025567,25812.415269,25890.292701,-0.005998,1.068064e+10,5.027373e+11
1,BTC,2023-09-03,25869.472793,26087.149165,25817.031798,25969.567353,25919.520073,0.003869,8.962525e+09,5.057740e+11
2,BTC,2023-09-02,25800.909609,25970.284489,25753.093847,25868.798140,25834.853875,0.002631,1.010039e+10,5.037864e+11
3,BTC,2023-09-01,25934.020806,26125.869774,25362.609128,25800.724373,25867.372589,-0.005140,1.720286e+10,5.024359e+11
4,BTC,2023-08-31,27301.929317,27456.079001,25752.929947,25931.472893,26616.701105,-0.050196,2.018100e+10,5.049576e+11

In [23]:
selected_data = data_load.load_selected_data(historical_data, selected_days=SELECTED_DAYS, end_date=SELECTED_END_DATE, update=UPDATE_DATA_LOAD)
print(selected_data.shape)
selected_data.head()

(4380, 10)

,symbol,date,open,high,low,close,avg,return,volume,marketcap
0,BTC,2023-08-01,29230.872405,29675.732498,28657.023820,29675.732498,29453.302452,0.015219,1.827239e+10,5.770561e+11
1,BTC,2023-07-31,29278.314054,29489.872869,29131.579034,29230.110879,29254.212467,-0.001646,1.165678e+10,5.683656e+11
2,BTC,2023-07-30,29357.093643,29443.169490,29059.502629,29275.307947,29316.200795,-0.002786,8.678455e+09,5.692170e+11
3,BTC,2023-07-29,29319.446038,29396.843754,29264.166274,29356.918538,29338.182288,0.001278,6.481776e+09,5.707744e+11
4,BTC,2023-07-28,29212.164302,29521.514331,29125.845592,29319.245403,29265.704853,0.003666,1.121847e+10,5.700178e+11

# Clustering Model
To Do:
- Add a KPI to measure how much the model worked

In [ ]:
return_data = clustering_model.load_return_data(historical_data, UPDATE_CLUSTERING_MODEL)
print(return_data.shape)
return_data.head()

(1460, 9)

,ADA,BNB,BTC,DOGE,ETH,TRX,USDC,USDT,XRP
0,-0.023453,0.043322,-0.001195,-0.059083,-0.009940,-0.037314,-0.001902,-0.001738,-0.013719
1,-0.000480,-0.026710,-0.021260,-0.007855,-0.024206,-0.049937,0.003227,0.002320,-0.015329
2,0.039892,0.018253,0.015774,0.000017,0.048880,0.082168,-0.000741,0.002277,0.032786
3,0.010990,-0.000331,-0.007305,-0.003986,0.017236,0.026173,0.001012,-0.001022,0.008848
4,0.004828,-0.012479,-0.010366,-0.018986,-0.001175,-0.006186,-0.001815,-0.000709,-0.013999

In [ ]:
clusters_data = clustering_model.load_clusters_data(return_data, UPDATE_CLUSTERING_MODEL)
print(clusters_data['cluster'].unique().shape)
clusters_data.head()

(3,)

  symbol  cluster
0   DOGE        0
1    ADA        1
2    BNB        1
3    BTC        1
4    ETH        1

# Regression Model
To Do:
- Add finantioal indexes to regression model
- Add date (numeric date, year, month, day) to regression model
- Create a dataframe which has the predicted return and risk for each symbol
- Add more regression models

In [ ]:
regression_data = regression_model.load_regression_data(historical_data, clusters_data, future_days=FUTURE_DAYS, UPDATE_REGRESSION_MODEL)
print(regression_data.shape)
regression_data.head()

(12870, 22)

,future_return,future_risk,open,high,low,close,avg,return,volume,marketcap,...,symbol_BTC,symbol_DOGE,symbol_ETH,symbol_TRX,symbol_USDC,symbol_USDT,symbol_XRP,cluster_0,cluster_1,cluster_2
0,-0.088505,0.054522,0.431895,0.425967,0.435138,0.430301,0.433005,-0.018288,0.034296,0.443537,...,True,False,False,False,False,False,False,False,True,False
1,-0.093920,0.054429,0.431709,0.427037,0.436255,0.431849,0.433689,0.003077,0.036415,0.445115,...,True,False,False,False,False,False,False,False,True,False
2,-0.095432,0.055308,0.439737,0.435938,0.436059,0.431454,0.437522,-0.098895,0.054742,0.444685,...,True,False,False,False,False,False,False,False,True,False
3,-0.105396,0.047477,0.432731,0.431398,0.431698,0.439206,0.437897,0.080963,0.052063,0.452653,...,True,False,False,False,False,False,False,False,True,False
4,-0.055323,0.046703,0.433433,0.428697,0.438847,0.432610,0.434937,-0.008759,0.033213,0.445836,...,True,False,False,False,False,False,False,False,True,False

In [ ]:
# regression_data.plot.scatter(x='close', y='future_return')

In [ ]:
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [ ]:
x = regression_data.loc[:, 'open':]
y = regression_data[['future_return', 'future_risk']]
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.2, random_state = 4)

In [ ]:
regr = linear_model.LinearRegression()
regr.fit(train_x, train_y)

train_y_ = regr.predict(train_x)
print(f'Train R2: {(100 * r2_score(train_y, train_y_)):.2f}%')
test_y_ = regr.predict(test_x)
print(f'Test R2: {(100 * r2_score(test_y, test_y_)):.2f}%')

Train R2: 16.66%
Test R2: 16.97%

In [ ]:
regr = RandomForestRegressor(n_estimators=100)
regr.fit(train_x, train_y)

train_y_ = regr.predict(train_x)
print(f'Train R2: {(100 * r2_score(train_y, train_y_)):.2f}%')
test_y_ = regr.predict(test_x)
print(f'Test R2: {(100 * r2_score(test_y, test_y_)):.2f}%')

Train R2: 94.39%
Test R2: 59.54%

# Portfolio Selection

In [ ]:
from pypfopt.expected_returns import mean_historical_return
from pypfopt.risk_models import CovarianceShrinkage