In [1]:
from os import getenv
import pandas as pd
import requests

In [3]:
API = getenv('AV_API')

In [4]:
url = f'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=USD&apikey={API}&datatype=csv'
response = requests.get(url)
print(response)

<Response [200]>

In [5]:
with open('data.csv', 'wb') as dataFile:
    dataFile.write(response.content)

In [6]:
data = pd.read_csv('data.csv')
data

,timestamp,open (USD),high (USD),low (USD),close (USD),open (USD).1,high (USD).1,low (USD).1,close (USD).1,volume,market cap (USD)
0,2023-05-01,29233.20,29320.00,29215.93,29292.94,29233.20,29320.00,29215.93,29292.94,1281.336740,1281.336740
1,2023-04-30,29230.45,29969.39,29079.59,29233.21,29230.45,29969.39,29079.59,29233.21,39752.537200,39752.537200
2,2023-04-29,29311.69,29448.88,29031.00,29230.45,29311.69,29448.88,29031.00,29230.45,20466.830580,20466.830580
3,2023-04-28,29472.77,29599.54,28891.00,29311.70,29472.77,29599.54,28891.00,29311.70,54298.165780,54298.165780
4,2023-04-27,28415.29,29890.00,28378.86,29472.77,28415.29,29890.00,28378.86,29472.77,95430.824310,95430.824310
...,...,...,...,...,...,...,...,...,...,...,...
995,2020-08-09,11761.02,11797.11,11521.97,11681.68,11761.02,11797.11,11521.97,11681.68,41493.067342,41493.067342
996,2020-08-08,11594.36,11808.27,11512.00,11761.41,11594.36,11808.27,11512.00,11761.41,41858.161040,41858.161040
997,2020-08-07,11762.47,11909.94,11322.00,11594.23,11762.47,11909.94,11322.00,11594.23,65755.926022,65755.926022
998,2020-08-06,11744.91,11900.00,11562.50,11762.46,11744.91,11900.00,11562.50,11762.46,63529.085020,63529.085020
999,2020-08-05,11191.99,11780.93,11093.00,11744.91,11191.99,11780.93,11093.00,11744.91,74970.256852,74970.256852