In [11]:
# https://www.relataly.com/crypto-market-cluster-analysis-using-affinity-propagation-python/8114/

In [12]:
# ! pip install cryptocmd
# ! pip install seaborn

In [13]:
# reload modules
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
import clustering_model

# Loading Data

In [17]:
basic_data = clustering_model.load_basic_data()
print(basic_data.shape)
basic_data.head()

(319, 18)

,id,name,symbol,slug,tags,cmcRank,marketPairCount,circulatingSupply,selfReportedCirculatingSupply,totalSupply,maxSupply,isActive,lastUpdated,dateAdded,quotes,isAudited,auditInfoList,platform
0,1,Bitcoin,BTC,bitcoin,"['mineable', 'pow', 'sha-256', 'store-of-value...",1,10246,1.940096e+07,0.0,1.940096e+07,2.100000e+07,1,2023-06-13T09:15:00.000Z,2010-07-13T00:00:00.000Z,"[{'name': 'USD', 'price': 26145.930250679336, ...",False,NaN,NaN
1,1027,Ethereum,ETH,ethereum,"['pos', 'smart-contracts', 'ethereum-ecosystem...",2,7000,1.202270e+08,0.0,1.202270e+08,NaN,1,2023-06-13T09:15:00.000Z,2015-08-07T00:00:00.000Z,"[{'name': 'USD', 'price': 1750.5073782966315, ...",False,[],NaN
2,1839,BNB,BNB,bnb,"['marketplace', 'centralized-exchange', 'payme...",4,1458,1.558543e+08,0.0,1.558543e+08,NaN,1,2023-06-13T09:15:00.000Z,2017-07-25T00:00:00.000Z,"[{'name': 'USD', 'price': 237.90100500779926, ...",True,"[{'coinId': '1839', 'auditor': 'CertiK', 'audi...",NaN
3,52,XRP,XRP,xrp,"['medium-of-exchange', 'enterprise-solutions',...",6,965,5.198702e+10,0.0,9.998888e+10,1.000000e+11,1,2023-06-13T09:15:00.000Z,2013-08-04T00:00:00.000Z,"[{'name': 'USD', 'price': 0.5281088758822319, ...",False,NaN,NaN
4,2010,Cardano,ADA,cardano,"['dpos', 'pos', 'platform', 'research', 'smart...",7,837,3.490978e+10,0.0,3.587395e+10,4.500000e+10,1,2023-06-13T09:15:00.000Z,2017-10-01T00:00:00.000Z,"[{'name': 'USD', 'price': 0.2815983818820746, ...",False,NaN,NaN

In [18]:
historical_data = clustering_model.load_historical_data(basic_data)
print(historical_data.shape)
historical_data

(493210, 10)

,symbol,date,open,high,low,close,avg,change,volume,marketcap
0,BTC,2023-06-12,25934.285597,26087.919073,25675.197594,25902.499870,25918.392734,-0.001226,1.167789e+10,5.025237e+11
1,BTC,2023-06-11,25854.031918,26203.439808,25668.985607,25940.168080,25897.099999,0.003332,1.073261e+10,5.032310e+11
2,BTC,2023-06-10,26481.762545,26531.045163,25501.836242,25851.241003,26166.501774,-0.023810,1.987293e+10,5.014774e+11
3,BTC,2023-06-09,26505.924008,26770.289117,26339.315221,26480.375094,26493.149551,-0.000964,1.101555e+10,5.136570e+11
4,BTC,2023-06-08,26347.653454,26797.512787,26246.663756,26508.215902,26427.934678,0.006094,1.190482e+10,5.141704e+11
...,...,...,...,...,...,...,...,...,...,...
493205,MDT,2018-01-13,0.463371,0.508273,0.412089,0.442183,0.452777,-0.045726,3.468450e+06,0.000000e+00
493206,MDT,2018-01-12,0.520611,0.532263,0.444749,0.463942,0.492276,-0.108851,3.897790e+06,0.000000e+00
493207,MDT,2018-01-11,0.629606,0.643169,0.449323,0.519012,0.574309,-0.175656,2.344930e+06,0.000000e+00
493208,MDT,2018-01-10,0.767875,0.858288,0.588577,0.630130,0.699003,-0.179385,3.039910e+06,0.000000e+00
493209,MDT,2018-01-09,0.691621,0.838139,0.668217,0.767344,0.729483,0.109486,4.394980e+06,0.000000e+00

# Clustering

In [19]:
changes_data = clustering_model.load_changes_data(historical_data)
print(changes_data.shape)
changes_data.head()

(730, 305)

,1INCH,AAVE,ABBC,ACH,ADA,ADS,AERGO,AGIX,AKT,ALGO,...,XYO,YFI,YLD,ZEC,ZEN,ZEON,ZIL,ZRX,ankrETH,stETH
2021-06-13,0.102521,0.137729,0.017424,0.092336,0.052594,0.074124,0.077394,0.128530,0.045972,0.051892,...,0.233755,0.062423,0.033979,0.056229,0.068670,0.015339,0.090773,0.052085,0.054402,0.052081
2021-06-14,0.001100,0.005111,-0.023217,-0.000928,0.011619,0.018229,-0.005992,-0.027634,0.023999,0.043630,...,-0.032593,0.020178,0.018204,0.002767,0.003036,-0.142002,0.028427,0.018460,0.015397,0.016057
2021-06-15,-0.004532,0.001117,0.015321,0.006108,0.015176,0.003804,-0.006537,0.068540,-0.009462,-0.000037,...,0.025091,0.012405,0.006453,0.000638,0.001671,0.075591,0.007774,0.015978,0.003189,-0.004797
2021-06-16,-0.040895,-0.069438,0.033511,-0.073105,-0.047545,0.008365,0.025158,-0.069637,-0.003298,-0.016245,...,-0.047806,-0.065669,-0.018327,0.000468,0.041538,0.385699,-0.032127,-0.031395,-0.077305,-0.080075
2021-06-17,-0.051431,0.009019,0.007058,-0.027271,-0.001592,-0.008955,-0.066565,-0.032596,0.020365,0.047856,...,-0.009345,-0.001777,0.069918,0.039045,-0.040154,-0.093572,-0.004195,0.008765,0.006336,0.008512

In [20]:
clusters = clustering_model.load_clusters(changes_data)
print(f'{len(clusters)} Clusters:')
printClusters = [print(f'Cluster {i}: {clusters[i]}') for i in range(len(clusters))]

98 Clusters:
Cluster 0: ['ABBC']
Cluster 1: ['ACH']
Cluster 2: ['AMPL']
Cluster 3: ['AOG', 'BFC']
Cluster 4: ['ARAW', 'ESCE']
Cluster 5: ['ARRR']
Cluster 6: ['ASD']
Cluster 7: ['AKT', 'ATOM', 'XPRT']
Cluster 8: ['BDX']
Cluster 9: ['BIFI', 'BNB', 'CAKE', 'CHSB', 'GT', 'HT', 'KCS', 'POLS', 'WBNB', 'XNO']
Cluster 10: ['BTTOLD']
Cluster 11: ['CEEK']
Cluster 12: ['CEL']
Cluster 13: ['CELO']
Cluster 14: ['CFX']
Cluster 15: ['CNNC']
Cluster 16: ['COMBO']
Cluster 17: ['CREAM']
Cluster 18: ['CSPR']
Cluster 19: ['CTC']
Cluster 20: ['CTXC']
Cluster 21: ['DAG']
Cluster 22: ['DERO']
Cluster 23: ['DEXE']
Cluster 24: ['DNT']
Cluster 25: ['1INCH', 'AAVE', 'ALPHA', 'API3', 'COMP', 'DPI', 'FTM', 'INJ', 'KSM', 'LRC', 'MKR', 'NEAR', 'PERP', 'REN', 'ROSE', 'SHIB', 'SNX', 'SUSHI', 'UNI', 'WAVES', 'WOO', 'YFI']
Cluster 26: ['DXD']
Cluster 27: ['ELA']
Cluster 28: ['AXS', 'BAT', 'CHR', 'CHZ', 'ENJ', 'HNT', 'MANA', 'OGN', 'PLA', 'SAND', 'WAXP']
Cluster 29: ['ADS', 'AR', 'AVAX', 'BAL', 'BNT', 'BTG', 'CRV', 'DCR', 'DEXT', 'DOGE', 'ETC', 'ETH', 'FTT', 'FUN', 'GNO', 'LDO', 'LTC', 'LYXe', 'MATIC', 'MNW', 'NEXO', 'PROM', 'RPL', 'RUNE', 'SOL', 'TEL', 'UOS', 'WNXM', 'ZEC', 'ankrETH', 'stETH']
Cluster 30: ['ETN']
Cluster 31: ['EVER']
Cluster 32: ['EXRD']
Cluster 33: ['AGIX', 'FET']
Cluster 34: ['FLEX']
Cluster 35: ['FX']
Cluster 36: ['FXS']
Cluster 37: ['GALA']
Cluster 38: ['GCR']
Cluster 39: ['GHST']
Cluster 40: ['ELF', 'GLM', 'POLY']
Cluster 41: ['HEX']
Cluster 42: ['HUNT']
Cluster 43: ['IDEX']
Cluster 44: ['IOTX']
Cluster 45: ['FLUX', 'KDA']
Cluster 46: ['KEEP', 'NU']
Cluster 47: ['KEY']
Cluster 48: ['KLV']
Cluster 49: ['KMD']
Cluster 50: ['LCX']
Cluster 51: ['LEO']
Cluster 52: ['LQTY']
Cluster 53: ['LUNC']
Cluster 54: ['MCB']
Cluster 55: ['MDT']
Cluster 56: ['MLN']
Cluster 57: ['MOB']
Cluster 58: ['MTRG']
Cluster 59: ['MVL']
Cluster 60: ['MXC']
Cluster 61: ['NEST']
Cluster 62: ['NMR']
Cluster 63: ['KLAY', 'ORC']
Cluster 64: ['PHA']
Cluster 65: ['PRO']
Cluster 66: ['QNT']
Cluster 67: ['RAD']
Cluster 68: ['REQ']
Cluster 69: ['RIF']
Cluster 70: ['RKN']
Cluster 71: ['RLY']
Cluster 72: ['RNDR']
Cluster 73: ['ROOK']
Cluster 74: ['SFP']
Cluster 75: ['SOLO']
Cluster 76: ['BORA', 'CBK', 'DKA', 'FCT', 'HIVE', 'HUM', 'MED', 'META', 'MLK', 'ORBS', 'SSX']
Cluster 77: ['AERGO', 'ARDR', 'ARK', 'CVC', 'DAWN', 'LOOM', 'ONG', 'POWR', 'QKC', 'REP', 'STEEM', 'STMX', 'STRAX']
Cluster 78: ['SURE']
Cluster 79: ['AUDIO', 'BAKE', 'LINA', 'POND', 'SKL', 'TFUEL', 'THETA', 'TVK']
Cluster 80: ['TLOS']
Cluster 81: ['TNC']
Cluster 82: ['TPT']
Cluster 83: ['TRU']
Cluster 84: ['CRE', 'IQ', 'MBL', 'MFT', 'STPT', 'TT']
Cluster 85: ['ULT']
Cluster 86: ['ADA', 'ALGO', 'ANKR', 'ANT', 'ARPA', 'BAND', 'BEL', 'BSV', 'BTM', 'CELR', 'CKB', 'COTI', 'CTK', 'CTSI', 'DASH', 'DENT', 'DGB', 'DODO', 'DOT', 'DUSK', 'EGLD', 'EOS', 'ERG', 'EWT', 'FIL', 'FLM', 'GRT', 'HBAR', 'HOT', 'ICX', 'IOST', 'IRIS', 'JST', 'KAVA', 'LINK', 'LPT', 'LSK', 'MIOTA', 'MTL', 'NEO', 'NKN', 'OCEAN', 'OKB', 'OMG', 'ONE', 'ONT', 'OXT', 'QTUM', 'REEF', 'RLC', 'RSR', 'RVN', 'SC', 'SCRT', 'SLP', 'SNT', 'STORJ', 'STX', 'SXP', 'SYS', 'TOMO', 'TRAC', 'TRX', 'TWT', 'UMA', 'UTK', 'VET', 'VRA', 'VTHO', 'WAN', 'WIN', 'WRX', 'XEM', 'XLM', 'XRP', 'XTZ', 'XVS', 'ZEN', 'ZIL', 'ZRX']
Cluster 87: ['VGX']
Cluster 88: ['VLX']
Cluster 89: ['VRSC']
Cluster 90: ['AMP', 'BADGER', 'BCH', 'BTC', 'BTCB', 'CRO', 'DFI', 'FNSA', 'HBTC', 'MX', 'RBTC', 'UQC', 'WBTC', 'XMR']
Cluster 91: ['WEMIX']
Cluster 92: ['WXT']
Cluster 93: ['PAXG', 'XAUT']
Cluster 94: ['XDC']
Cluster 95: ['XYO']
Cluster 96: ['YLD']
Cluster 97: ['ZEON']